
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.notify-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-animation-name: leave;
  -webkit-animation-duration: 0.72s;
  -webkit-animation-delay: 3s;
  -webkit-animation-timing-function: ease-in;
  animation-name: leave;
  animation-duration: 0.72s;
  animation-delay: 3s;
  animation-timing-function: ease-in;
}

@-webkit-keyframes leave {
 from {margin-right: 0px;}
 to {margin-right: -320px;}
}

@keyframes leave {
 from {margin-right: 0%;}
 to {margin-right: -320px;}
}

.notify-item {
  width: 250px;
  margin: 5px 10px;
  color: #FFF;
  border-radius: 5px;
}
 
.notify-item:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px 0 rgb(15, 15, 15);
}
 
.notify-item > p {
  font-family: 'Lora', serif;
  margin: 10px;
  opacity: .8;
}
 
.notify-item.success {
  background-color: rgb(27, 152, 27);
  opacity: .8;
}
 
.notify-item.error {
  background-color: rgb(217, 47, 38);
  opacity: .8;
}
 
.notify-item.info {
  background-color: rgba(33, 150, 243, 1);
}
 
.notify-title {
  font-weight: 700;
}